@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TodoApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">TodoApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Category">Add ToDo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @*<a asp-page="./Category">Add My ToDo</a>

    <br />
    <br />*@

    <h1><a asp-page="./Category">ToDo List</a></h1>

    @for (int i = 0; i < Model.Items.Count; i++)
    {


        int index = i + 1;

        <fieldset>
            <form method="post">

                <td>@index.  </td>


                <td>Name: </td>

                <td>

                    @Html.DisplayFor(modelItem => Model.Items.ElementAt(i).Name)<br />

                </td>

                <td>Description: </td>

                <td>

                    @Html.DisplayFor(modelItem => Model.Items.ElementAt(i).Description)<br />

                </td>

                <a asp-page="./Category" asp-route-id="@Model.Items.ElementAt(i).Id">Edit</a>

                <td>

                    <input type="hidden" name="id" value="@Model.Items.ElementAt(i).Id" />
                    <input type="submit" value="Mark Completed" asp-page-handler="Submit" />

                </td>

            </form>
        </fieldset>
    }

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TodoApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>
</html>





